# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
.env.local

# Streamlit
.streamlit/secrets.toml

# VSCode
# .vscode/

# Devcontainer
.devcontainer/.env

# Pytest / coverage
.coverage
htmlcov/

# macOS
.DS_Store

# Docker
**/pgdata/
**/data/

